mat-card{
    width: 80%; 
    margin: auto; 
}

mat-form-field, 
textarea{
    width: 100%; 
}

h1{
    text-align: center;
    text-shadow: 1px 1px black;
}

input[type="file"]{
    visibility:hidden
}

.image-preview{
    height: 5rem; 
    margin: 1rem 0; 
}

.image-preview img{
    height: 100%; 
}